---
---

@import "{{ site.theme }}";

#header {
  height: 38px;
  position: fixed;
  background: white;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 5px;
  border-bottom: solid 1px lightgray;
}

body {
  padding: 38px 0 0 0;
}
