---
---

@import "{{ site.theme }}";

#header {
  height: 38px;
  width: 100%;
  text-align: center;
  top: 0px;
  position: fixed;
  background: black;
  z-index: 100;
  padding: 5px;
  border-bottom: solid 1px lightgray;
  overflow: hidden;
}

body {
  color: white;
  background: black;
  font-weight: 200;
  margin-bottom: 50px;
}

a {
  color: #f6e06a;
  font-weight: 500;
}

a:hover {
  color: yellow;
  font-weight: 500;
}

a:visited {
  color: #f6e06a;
  font-weight: 500;
} 

strong {
  font-weight: 500;
}

.float-left-child {
  float: none;
  display: inline-block;
}

.float-right-child {
  float: none;
  display: inline-block;
}

.markdown-body hr {
  height: .06em;
  margin: 24px 0;
}

.markdown-body h2 {
  padding-top: 48px;
}

@media screen and (max-width: 950px) {
  .float-left-child {
    display: none;
  }
  .float-right-child {
    width: auto;
  }
  #header {
    height: 108px;
  }
  .markdown-body h2 {
    padding-top: 108px;
  }
  
}
