---
---

@import "{{ site.theme }}";

#header {
  height: 38px;
  width: 100%;
  text-align: center;
  top: 0px;
  position: fixed;
  background: black;
  z-index: 100;
  padding: 5px;
  border-bottom: solid 1px lightgray;
  overflow: hidden;
}

body {
  color: white;
  background: black;
  font-weight: 200;
  margin-bottom: 50px;
}

a {
  color: #f6e06a;
  font-weight: 500;
}

a:hover {
  color: yellow;
  font-weight: 500;
}

a:visited {
  color: #f6e06a;
  font-weight: 500;
} 

strong {
  font-weight: 500;
}

em {
  color: #f6e06a;
  font-weight: 400;
}

.float-left-child {
  float: none;
  display: inline-block;
}

.float-right-child {
  float: none;
  display: inline-block;
}

.markdown-body hr {
  height: .06em;
  margin: 24px 0;
}

.markdown-body h2 {
  padding-top: 53px;
}

.picture {
  text-align: center;
}

.picture img {
  width: 80%;
}

.float-parent {
  overflow: hidden;
  margin: 0 0 20px 0;
}

.float-child-logo {
  float: left;
  width: 180px;
}

.float-child-description {
  float: left;
  width: 80%;
  padding-top: 10px;
}

@media screen and (max-width: 950px) {
  .float-left-child {
    display: none;
  }
  .float-right-child {
    width: auto;
  }

  .float-child-logo {
    float: none;
    width: auto;
  }

  .float-child-logo img {
    max-width: 300px;
  }

  .float-child-description {
    float: none;
    width: auto;
  }

  .picture {
    text-align: center;
    margin: 0 0 20px 0;
  }

  #header {
    height: 108px;
  }
  .markdown-body h2 {
    padding-top: 108px;
  }
  
}
