---
---

@import "{{ site.theme }}";

#header {
  height: 38px;
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  background: black;
  z-index: 100;
  padding: 5px;
  border-bottom: solid 1px lightgray;
  overflow: hidden;
}

body {
  padding: 20px 0 0 0;
  color: white;
  background: black;
  font-weight: 200;
}

a {
  color: #f6e06a;
  font-weight: 500;
}

a:hover {
  color: yellow;
  font-weight: 500;
}

a:visited {
  color: #f6e06a;
  font-weight: 500;
} 

strong {
  font-weight: 500;
}

.float-left {
  float: left;
  padding: 2px 5px;
}
.float-right {
  float: left;
}

.markdown-body hr {
  height: .06em;
  margin: 24px 0 0;
}

.markdown-body h2 {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .float-left {
    display: none;
  }
  .float-right {
    float: none;
    width: auto;
  }
  #header {
    height: 108px;
  }
  body {
    padding: 108px 0 0;
  }
}
