---
---

@import "{{ site.theme }}";

#header {
  height: 38px;
  position: fixed;
  background: black;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 5px;
  border-bottom: solid 1px lightgray;
  overflow: hidden;
}

body {
  padding: 20px 0 0 0;
  color: white;
  background: black;
  font-weight: 200;
}

a {
  color: #f6e06a;
  font-weight: 500;
}

a:hover {
  color: yellow;
  font-weight: 500;
}

a:visited {
  color: #f6e06a;
  font-weight: 500;
} 

strong {
  font-weight: 500;
}

.float-left {
  float: left;
  width: 20%;
  padding: 2px 5px;
}
.float-right {
  float: left;
  width: 80%;
}

.markdown-body hr {
  height: .06em;
  margin: 24px 0 0;
}

.markdown-body h2 {
  margin-top: 10px;
}
