---
---

@import "{{ site.theme }}";

#header {
  height: 40px;
  position: fixed;
  background: white;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0 20px;
}

.wrapper {
  padding: 40px 0 0 0;
}
